.contentInner{
    display: flex;
}
.mainNav{
    height: 100%;
    position: sticky;
    top: 105px;
    z-index: 0;
    background-color: #d0e0f2;
    padding: 55px 50px 40px 95px;
    overflow: auto;
}
.mainNav > p{
    font-size: 15px;
    padding: 10px 0;
}
/* .test{
    margin-top: 122px;
    margin-left: 300px;
} */
.advertisementBanner{
    display: flex;
}
.iconList{
    display: flex;
}
/* .textLi > div > p{
    height: 120px;
} */